/* 
======== Global or Group ========
*/

#title h1,
.info,
#viewDiv {
  background-color: rgb(220, 220, 220);
  font-family: "Montserrat", sans-serif;
  padding: 1rem;

  border-bottom: 1px solid black;
}

hr {
  border: none;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* universal box-sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
===========use to create thumbnails 
*/
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 0.22rem;
  padding: 0.4rem; /* Some padding */
  width: 10rem; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* 
======== title and page controls ========
*/
#title h1 {
  text-align: center;
  background-color: #004c73; /*rgb(60, 52, 107)*/
  color: rgb(220, 220, 220);
  margin: 0;
}

#restore {
  font-size: 1rem;
  display: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 2;
  background-color: white;
  color: black;
  border: 2px solid red;
  border-radius: 0.22rem;
}

#restore:hover {
  background-color: red;
  color: white;
}

#editMode {
  font-size: 1rem;
  display: none;
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 2;
  background-color: white;
  color: black;
  border: 2px solid blue;
  border-radius: 0.22rem;
}

#editMode:hover {
  background-color: blue;
  color: white;
}

/* 
======== Map and Map Elements ========
*/

#viewDiv {
  padding: 0;
  height: 85vh;
  flex: 1;
}

/* 
======== Content ========
*/

#content {
  flex: 1;
}

.info {
  display: none;
}

.info h3 {
  /*remove auto line break after h3*/
  display: inline;
  text-transform: uppercase;
}

.info span {
  padding-left: 1rem;
}

.infoImg span {
  padding-left: 0;
}

.notes {
  flex: 6;
}

.infoImg,
.bldgImg,
#specialImg,
#gisExtra {
  flex: 1;
}

/* Edit window */
.edit,
.addImages {
  display: none;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  color: black;
  border: 4px solid darkgray;
  border-radius: 0.22rem;
  box-shadow: 2px 2px 4px #272828;
}

.edit form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
}

.edit label,
.edit textarea {
  display: block; /*changes these to block*/
  width: 100%;
}

.editBtn {
  display: none;
}

#formVariant {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* form validation styles */
input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
  color: #8b0000;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
  color: #009000;
}
