/* 
======== Global or Group ========
*/
body {
  font-family: "Montserrat", sans-serif;
}

.info {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
  border-bottom: 1px solid black;
}

hr {
  border: none;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#firstRow {
  /* move map to top on narrow screens */
  flex-wrap: wrap-reverse;
  background-color: rgb(220, 220, 220);
}

/* universal box-sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
===========use to create thumbnails 
*/
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 0.22rem;
  padding: 0.2rem; /* Some padding */
  width: 10rem; /* Set a small width */
}

/* 
======== title and page controls ========
*/
#title h1 {
  text-align: center;
  background-color: #004c73; /*rgb(60, 52, 107)*/
  color: rgb(220, 220, 220);
  margin: 0;
  padding: 1rem;
}
#title {
  background-color: #004c73; /*rgb(60, 52, 107)*/
  border-bottom: 1px solid black;
}

#restore,
#editMode {
  font-size: 1rem;
  display: none;
  color: white;
  border-radius: 0.22rem;
  flex: 1;
  margin: 0 0.2rem 0.2rem;
}

#restore {
  background-color: red;
  border: 2px solid red;
}

#restore:hover {
  background-color: rgb(212, 8, 8);
  border: 2px solid rgb(212, 8, 8);
}

#editMode {
  background-color: blue;
  border: 2px solid blue;
}

#editMode:hover {
  background-color: rgb(8, 8, 212);
  border: 2px solid rgb(8, 8, 212);
}

/* 
======== Map and Map Elements ========
*/

#viewDiv {
  padding: 0;
  height: 90vh;
  flex: 1;
  /* force row wrap if map would be small */
  min-width: 300px;
  border-bottom: 1px solid black;
}

/* 
======== Content ========
*/

#content {
  flex: 1;
  min-width: 250px;
}

.info {
  display: none;
}

.info h3 {
  /*remove auto line break after h3*/
  display: inline;
  text-transform: uppercase;
}

.info span {
  padding-left: 1rem;
}

.infoImg span,
.imageContainer span {
  padding-left: 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(199, 197, 197);
  border-radius: 0.22rem;
  margin: 0.1rem;
  padding: 0.1rem;
  text-align: center;
}

.notes {
  flex: 6;
  min-width: 250px;
}

.infoImg {
  display: none;
  justify-content: center;
}

.infoImg,
.bldgImg,
#gisExtra {
  flex: 1;
  min-width: 250px;
}

.bldgImg {
  text-align: center;
}

/* dividers between building images */
.row > .bldgImg:not(:last-of-type) {
  border-right: 1px solid rgb(199, 197, 197);
}

/* Edit window */
.edit,
.addImages {
  display: none;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  background-color: white;
  color: black;
  border: 4px solid darkgray;
  border-radius: 0.22rem;
  box-shadow: 2px 2px 4px #272828;
}

.edit form,
.addImages form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
}

.edit label,
.edit textarea {
  display: block; /*changes these to block*/
  width: 100%;
}

.editBtn {
  display: none;
}

#formVariant,
#imgFileDialog {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#imgfile {
  /* forces filename to compress within the available space */
  width: 100%;
  text-align: center;
}

/* form validation styles */
input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
  color: #8b0000;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
  color: #009000;
}

#gisExtraDetails {
  font-size: x-small;
}

@media screen and (max-width: 767px) {
  #title h1 {
    font-size: large;
    padding: 0.5rem;
  }
  #restore,
  #editMode {
    font-size: 0.85rem;
  }
  #viewDiv {
    height: 90vh;
  }

  .wrapTopRow {
    border-bottom: none;
  }
}
